$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background: #868686;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}




/* Custom page header */
.header {
    margin-bottom: 0px;
    background: #303030;
    text-align: center;
    background: #E57442;
    height: 10px;
    border-bottom: 2px solid #303030; 

    .head-logo {
        width: 300px;
        height: auto;
    }
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
        color: white;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 50px 10px 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background: #303030;
    color: #fff;

    .main-logo {
        margin: 0 auto 40px;
    }

    .input-group {
        margin: 0 auto;
        padding: 0 115px;

        .username-login {
            border-radius: 6px 0 0 6px ;
            width: 100%;
            padding-left: 10px;
            border: none;
            border-bottom: 2px solid #fff;
            
        }
        .big-group-btn{
            height: 100%;

            .login-btn {
                padding: 15px;
                background: #E57442;
                border: none;
                color: white;

            }
        }
    }
}


.content {
    position: relative;
    height: auto;
    margin-top: 20px;


    .main {
        height: auto;
        padding: 10px;

        .sidebar {
            position: relative;

            .user-panel{
                box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.66);
                overflow: hidden;
                position: absolute;
                margin: 20px 0;
                border-radius: 6px;
                height: auto;
                width: 90.5%;
                background: #E57442;
                z-index: 5;

                
                .user-name-title {
                    background: #303030;
                    color: #fff;
                    position: relative;
                    height: 125px;
                    border-bottom: 1px solid gray;
                    text-align: center;
                }

                .user-stats {
                    background: #fff;
                    position: relative;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    height: auto;
                    border-bottom: 1px solid gray;

                    ul  {
                        width: 100%;
                        position: relative;
                        padding-left: 0px;
                        margin-bottom: 0;
                        li{
                            font-size: 12px;
                            display: inline;
                            list-style: none;
                        }
                    }
                }
                
                .message-panel {
                    position: relative;
                    text-align: center;
                    padding: 0 10px ;

                    .msg-input {
                        height: 25px;
                        border-radius: 6px;
                        margin-top: 10px;
                        resize:none;
                        // overflow-y: hidden; 

                    }

                    .expand {
                        height: 75px;
                    }

                    .submit-btn {
                        margin: 5px 0;
                        font-size: 12px;
                        height: 20px;
                        padding: 0 10px;
                        border: none;
                    }

                }

            }

            .friends-panel {
                margin-top: 280px; 
                background: #fff;
                overflow: hidden;
                position: relative;
                border-radius: 6px;
                height: 365px;

                .friends-title {
                    background: #303030;
                    color: #fff; 
                    border-bottom: 2px solid #E57442;

                    h4 {
                        margin: 0px 0;
                        padding-left: 10px; 
                    }
                }

                .friends-list{
                    height: 340px;
                    overflow-y: scroll; 

                    .friend {
                        padding: 0 0;
                        height: 50px;
                        text-align: center;
                        border-bottom: 1px solid black;
                     

                        .avatar-window {
                            border-right: 1px solid black;
                            height: 100%;

                            .avatar {
                                border-radius: 35px;
                                height: 35px;
                                width: 35px;
                                border: 1px solid white;
                                margin: 5px 0 0px -8px;

                            }
                        }

                        .friend-info {
                            height: 100%;
                            color: black;
                            position: relative;

                            .friend-name {
                                top: 10px;
                            }

                            .friend-lastmsg {
                                padding: 0 0;
                                font-size: 10px;
                                bottom: -15px;
                            }
                        }
                    }
                }
            }
        }

        .maincontent {
            height: 625px;
            border-radius: 6px;
            margin: 20px 0;
            background: #fff;

            .main-title {
                background: #303030;
                color: #fff;
                border-radius: 6px 6px 0 0;
                text-transform: uppercase;
                border-bottom: 2px solid #E57442;
                font-size: 20px;
                padding-left: 10px;

            }

            .message-list {
                overflow-y: scroll;
                height:  585px;

                .message-item {
                    border-bottom: 1px solid black;
                    padding: 10px;

                    .msg-item-info {
                        width: 100%;
                        border-radius: 10px;
                        height: 18px;
                    }

                    p {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
 
}




/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 0px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.ironchat {
    background: blue;
}

.TimeBandits {
    background: red;
}

.ChipHatApp {
    background: green;
}

.Team {
    background: yellow;
}

.Yard {
    background: #E57442;
}

.chattykathy {
    background: purple;
}

